{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <h1>Booking {{ property.title }}</h1>
    <form action="{% url 'book_property' property.pk %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <div id="card-element">
            <!-- Stripe Element will be inserted here -->
        </div>
        <button class="btn btn-primary mt-3" type="submit">Submit Payment</button>
    </form>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ stripe_public_key }}');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card-element');
    </script>
{% endblock %}
