{% extends "base_generic.html" %}
{% block content %}
    <h1>{{ property.title }}</h1>
    <p>{{ property.description }}</p>
    <p>Price: ${{ property.price_per_night }} per night</p>
    <div id="map"></div>

    <a href="{% url 'book_property' property.pk %}" class="btn btn-success">Book Now</a>

    <script>
        function initMap() {
            var location = { lat: {{ property.latitude }}, lng: {{ property.longitude }} };
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&callback=initMap" async defer></script>
{% endblock %}
